
/* Estilo para telas pequenas (mobile) */
@media (max-width: 768px) {
    .modal img {
        max-height: 250px; /* Limita a altura da imagem no mobile para que o modal não fique grande */
    }
}
/* Header */
header {
    background-color: var(--verde-escuro);
    color: var(--creme);
    text-align: center;
    padding: 3rem 0;
}


/* Imagem do Header */
header img {
    border: 5px solid var(--laranja);
    max-width: 200px;
}

/* Título principal */
header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--laranja);
}

/* Subtítulo */
header p {
    font-size: 1.2rem;
    color: var(--cinza-claro);
}

header img {
    max-width: 150px;
    border: 5px solid #224537;
}

/* Card personalização */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.image-card {
    border: 8px solid var(--creme);
    height: 185px; 
    width: 100%;
    border-radius: 45px;
    object-fit: cover;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
}

/* Paleta de cores */
/* Footer */
.footer {
    background-color: var(--verde-escuro);
    color: var(--creme);
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    border-top: 3px solid var(--laranja);
}

:root {
    
    --verde-escuro: #275643;
    --laranja: #ea7d17;
    --marrom-madeira: #c2710f;
    --creme: #F5F1E3;
    --cinza-claro: #E0E0E0;
}

/* Estilização Geral */
body {
    background-color: var(--creme);
    color: var(--marrom-madeira);
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--verde-escuro) !important;
}

.navbar-brand {
    color: var(--laranja) !important;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: var(--creme) !important;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--laranja) !important;
}

/* Cards */
.card {
    background-color: var(--creme);
    border: 1px solid var(--cinza-claro);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: var(--verde-escuro);
    font-weight: bold;
}

.card-text {
    color: var(--marrom-madeira);
}


/* Botões */
.btn-primary {
    background-color: var(--laranja);
    border-color: var(--laranja);
    color: var(--verde-escuro);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--marrom-madeira);
    border-color: var(--marrom-madeira);
    color: var(--creme);
}

.btn-secondary {
    background-color: var(--cinza-claro);
    border-color: var(--cinza-claro);
    color: var(--verde-escuro);
}

.btn-secondary:hover {
    background-color: var(--marrom-madeira);
    color: var(--creme);
}

/* Modal */
.modal-content {
    background-color: var(--creme);
}

.modal-header {
    color: var(--verde-escuro);
    /*color: var(--creme);*/
}

.modal-title {
    font-size: 150%;
} 

.modal-footer {
    background-color: var(--cinza-claro);
}